# ------------------------------------------------------------
# .htaccess
# ------------------------------------------------------------
<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	#
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]
    #
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
    #
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]
    #
	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
	ServerSignature Off
<IfModule !mod_rewrite.c>
	ErrorDocument 404 index.php
	ErrorDocument 500 index.php
</IfModule>